<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email Verify</title>
  </head>

  <style>
    .wrapper { max-width: 800px; margin: 0 auto; text-align: center; } img {
    width: 200px; height: 200px; } i { display: block; font-size: 30px;
    font-weight: 500; color: blueviolet; margin-top: 20px; } a { padding: 20px
    0; width: 100%; display: block; background-color: blueviolet; border-radius:
    16px; color: white; text-decoration: none; font-size: 30px; font-weight:
    bold; margin-top: 50px; transition: all .3s linear; } a:hover { transform:
    scale(0.95); box-shadow: 0 15px 20px 2px blueviolet; } strong { display:
    block; margin-top: 20px; font-size: 30px; color: blueviolet;
    text-decoration: underline; }
  </style>

  <body>
    <div class='wrapper'>
      <img
        src='https://lh3.googleusercontent.com/drive-viewer/AFGJ81q4F_OcCa_HBPmKwBY3xz8CGaRhCe3CMjZBrHtnkyu-0_w_TW0X4bkBzw0SEcPX9FULPn8G6znO5hK9onWUKXmc-Mei=s2560'
        alt='favicon'
      />
      <strong>Airdrop Factory</strong>
      <i>{{name}},пожалуйста, подтвердите свой Email!</i>
      <a href={{url}}>Подтвердить</a>
    </div>
  </body>

</html>